<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>O-Week.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC18B30C1E76CBCE00C3FCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC18B3201E76CBCE00C3FCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC18B32B1E76CBCE00C3FCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
